@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
@font-face {
  font-family: "NanumBarunGothic";
  src: url('./commons/fonts/font1/NanumBarunGothicBold.ttf');
}
@font-face {
  font-family: "NanumSquare";
  src: url('./commons/fonts/font2/NanumSquareB.ttf');
}
@font-face {
  font-family: "NanumSquareRound";
  src: url('./commons/fonts/font3/NanumSquareRoundB.ttf');
}
@font-face {
  font-family: "cafe24dangdang";
  src: url('./commons/fonts/font4/Cafe24Ohsquare-v2.0.ttf');
}


* { 
  box-sizing: border-box; 
  outline: none; 
  /*font-family: "Do Hyeon", sans-serif;*/
  font-family: "NanumSquare";
}

html {
  font-size: 15px;
}

body { 
  margin: 0;
  color: #000;
}


ul, ol, li {
  list-style: none;
}

ul, ol, dl, dt, dd {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  border: 0;
}

.layout-width {
  max-width: 1200px;
  min-width: 1000px;
  margin: 0 auto;
}

.ReactModal__Overlay {
  background: rgba(0, 0, 0, 0.7) !important;
}